body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: monospace;
  background-image: url("galaxy.jpg");
  /* http://nbremer.github.io/exoplanets/ */
}

.node {
  fill: rgba(255, 255, 255, 1);
  stroke: #ffffff;
  stroke-width: 0.15em;
  fill: #000000;
}

.link {
  fill: none;
  stroke: rgba(255, 255, 255, 0.3);
  stroke-width: 0.15em;
}

.selected {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(255, 255, 255, 1);
}

text {
  fill: #ffffff;
  display: block;
}

text.time {
  font-size: 1.2em;
  font-weight: 100;
}

.date-bar {
  stroke: rgba(255, 255, 255, 1);
}

.tick {
  stroke: rgba(255, 255, 255, 0.15);
}

.whole-tick {
  stroke: rgba(255, 255, 255, 0.2);
  stroke-width: 4px;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}
